[submodule "3rdparty/Pangolin"]
	path = 3rdparty/Pangolin
	url = git@github.com:stevenlovegrove/Pangolin.git
[submodule "3rdparty/Sophus"]
	path = 3rdparty/Sophus
	url = git@github.com:strasdat/Sophus.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdparty/g2o"]
	path = 3rdparty/g2o
	url = git@github.com:RainerKuemmerle/g2o.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = git@github.com:ocornut/imgui.git
